body,html{
  height: 100%;
}
/*section to hold background photo */
#main {
 filter: brightness(40%);
 background-image: url("https://github.com/livinlefevreloca/Sweet-Little-Gardens/blob/master/Images/flowers.jpg?raw=true");
 background-position: 50% 0%;
 background-repeat: no-repeat;  background-size: cover;
 width: 100%;
 height: 200%;  
}

/*jumbotron with main info*/
#about{
  position: absolute;
  margin-bottom: 0;
  top: 200px;
  left: 175px;
  height: 140%;
  width: 70%;
  opacity: 0.8;
  border: 10px solid #b7d1a1; 
  border-radius: 60px;
  background: #EFE4B0;
  text-align: center;
  font-family: Alegreya;
  color: black;
}


#founder{
  margin-top: 5%;
  margin-bottom: 5%;
  height: 300px;
  width: 300px;
  border: 5px solid black;
  border-radius: 50%;
}

#bottom-bar{
  color: black;
  font-family: Alegreya;
  background: #EFE4B0; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #EFE4B0, #b7d1a1); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #EFE4B0, #b7d1a1); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #EFE4B0, #b7d1a1); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,  #EFE4B0, #b7d1a1 ); /* Standard syntax */
  margin: 0 auto;
  height: auto;
  width: 100%;
  background-color: #EFE4B0;
}



/* navbar */
.navbar{
       margin-bottom: 0!important;
       border: none;
       
    }

#welcome{
  font-size: 25px;
  color: Black;
}





.navbar-default {
    background: #EFE4B0; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #EFE4B0, #b7d1a1); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #EFE4B0, #b7d1a1); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #EFE4B0, #b7d1a1); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,  #EFE4B0, #b7d1a1 ); /* Standard syntax */
    border-color:  #b7d1a1;
}

.navbar-default .navbar-nav > li > a {
    color: black;
}

.navbar-toggle{
  margin-top: 20px;
}

.navbar-header{
  margin-right:5px;
  width:100%;
  font-size: 20px;
  font-family: Satisfy;
  color: black;
  font-weight: none;
}
.navbar-nav{
  margin-top: 15px;
  
}
